* {
    font-family: "poppins";
  }
  
h3{
  font-family: "poppins";
  font-weight: 1000;
}
body {
    color:  rgb(36, 36, 36);
}

img {
    width: 100px;
    height: auto;
}
/* sm */
@media (min-width: 768px) {
    img {
        width: 150px;
    }
}
/* md */
@media (min-width: 992px) {
    img {
        width: 200px;
    }
}
/* lg */
@media (min-width: 1200px) {
    img {
        width: 250px;
    }
}